@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&family=Raleway:wght@200;400&display=swap');

:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #555;
  --black: #000;
  --orange: #F46623;
  --lightorange: #FFA83D;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--orange);
}
a[href]:hover {
  color: var(--orange);
}
a[href]:visited {
  color: var(--darkgray);
}
main :first-child {
  margin-top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

h1,h2,h3 {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2em;
}

.container {
  width: 90%;
  margin: 2em auto;
  padding: 1em 0;
}

/* Header */
header img {
    width: 10em;
}
header {
  background: rgb(244,102,35);
  background: linear-gradient(0deg, rgba(244,102,35,1) 0%, rgba(255,168,61,1) 100%);
  color: var(--white);
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.75em;
}
header a[href]:visited {
  color: var(--lightgrey);
}

/* Nav */
.nav {
  font-family: "Raleway", sans-serif;
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 0;
}
.nav-item {
  padding: 1em 1.5em 0 1em;
  display: block;
}
.home {
    padding-right: 2em;
}
.nav-item a {
  color: white;
}
.nav-item a:hover {
  color: var(--white)
}

/* Main */

main {
  min-height: 75vh;
}

/* Buttons */
.cta-white {
    background: var(--white);
    border: var(--orange) 1px solid;
}
.cta-white a[href], .cta-white a[href]:visited {
    color: var(--orange);
    text-decoration: none;
}
.cta-orange {
    border: var(--white) 1px solid;
    background: var(--orange);
}
.cta-orange a[href], .cta-orange a[href]:visited, .cta-gradient a[href], .cta-gradient a[href]:visited {
    color: var(--white);
    text-decoration: none;
}
.cta-gradient {
  background: rgb(244,102,35);
  background: linear-gradient(0deg, rgba(244,102,35,1) 0%, rgba(255,168,61,1) 100%);
}
.button {
    padding: 1em;
    border-radius: 10px;
    display: inline-block;
}

.member a[href]:not(:hover),.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 900;
  text-decoration: underline;
}

#splash h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0;
}
#splash h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

/* Mission */
#mission {
    width: 80%;
    text-align: center;
    border-bottom: 1px var(--lightorange) dotted;
    padding-bottom: 4em;
}
#events {
    border-bottom: 1px var(--lightorange) dotted;
    padding-bottom: 4em;
}
#mission h1 {
    margin: 2em 0 1em 0;
    font-size: 2em;
}
#mission h2 {
    margin: 1em auto 2em auto;
    width: 90%;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    line-height: 2em;
}

/* 404 */
#notfound {
    text-align: center;
}
#notfound img {
    padding: 2em;
    width: 40%;
}
#notfound p {
    margin: 1em auto;
    text-align: left;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Footer */
footer {
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
}
footer p {
    display: inline;
}
footer img {
    width: 15%;
    margin-bottom: 1em;
}
footer a[href], footer a[href]:visited {
    color: var(--white);
}
footer .container {
    margin-bottom: 0;
}

/* Board */
.peoplelist, .memberslist {
  list-style-type: none;
}

.peoplelist li:hover .ferris {
  display: inline-block;
}

.peoplelist .ferris {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: white;
  background-size: cover;
  background-position: center;
  height: 15em;
  width: 15em;
}

.person {
  display:table-cell;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.person h2 {
  padding: 0.25em;
  background: rgba(255,255,255,0.9);
  margin: 0;
  font-size: 1em;
}

.person h3 {
  padding: 0.25em;
  background: white;
  font-size: 0.75em;
  color: var(--orange);
  margin: 0;
}

.peoplelist li {
  background: var(--lightgray);
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 1em;
  height: 15em;
  width: 15em;
  display: inline-block;
  margin: 0.5em;
}

.memberslist {
  text-align: center;
}

.memberslist li {
  padding: 2em;
  display: inline-block;
}

.memberslist-small li img {
  width: 7em;
}

/* Post */

@media only screen and (min-width: 768px) {
  .post {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  /* prevent horizontal overflow of headings on mobile */
  .post h2 {
    font-size: 1.2em !important;
  }

  .post h1, .event h1, .posts h1, .events h1, .board h1, .contact h1, .members h1 {
    font-size: 2em !important;
    margin-top: 3em !important;
  }
}

.post h1, .event h1, .posts h1, .events h1, .board h1, .contact h1, .members h1 {
  font-size: 5em;
  font-weight: 900;
  margin: 1em 0; 
}

.post h2, .event h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 1em 0; 
}

.post h2.series {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: -3em;
}

.post-tags, .event-tags {
  margin-top: 5em;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

h2.date {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.content p, .content li {
  line-height: 1.75em;
}
