@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Raleway:wght@100;400&display=swap');

:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #555;
  --orange: #F46623;
  --lightorange: #FFA83D;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--orange);
}
a[href]:hover {
  color: var(--orange);
}
a[href]:visited {
  color: var(--darkgray);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

h1,h2,h3 {
    font-family: "Lato", sans-serif;
}

/* grid */
.row {
    width: 100%;
}

.col3 {
    width: 30%;
    padding: 1rem;
    float: left;
}

.container {
  width: 90%;
  margin: 0 auto 2rem auto;
}

/* Header */
header img {
    width: 10em;
}
header {
  background: rgb(244,102,35);
  background: linear-gradient(0deg, rgba(244,102,35,1) 0%, rgba(255,168,61,1) 100%);
  color: var(--white);
  font-family: 'Lato', sans-serif;
  margin-top: -1rem;
}
header a[href]:visited {
  color: var(--lightgrey);
}
.home {
  float: left;
  padding: 0 1rem;
  margin: 1rem 0; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 0;
  list-style: none;
}
.nav-item, .member {
  display: inline-block;
  margin-top: 1.55rem;
  margin-right: 1em;
}
.member {
    background: var(--white);
    color: var(--orange);
    float: right;
    margin-right: 3em;
}
.button {
    padding: 1em;
    border-radius: 10px;
    display: inline-block;
}
.cta {
  background: rgb(244,102,35);
  background: linear-gradient(0deg, rgba(244,102,35,1) 0%, rgba(255,168,61,1) 100%);
}

.cta a[href] {
  color: var(--white);
}

.member a[href]:not(:hover),.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 900;
  text-decoration: underline;
}

/* Splash */
#splash h1 {
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 0;
}

#splash h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}

/* Stats */
#stats {
  padding: 2rem;
  margin: -1rem;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
