---
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---
<section class="container">
    <h1>We are the Rust Foundation</h1>

<div>The Rust Foundation is run by a small team of full time staff, and governed by a Board of Directors who represent the Rust project and our member companies. If you’re interested in working at the Rust Foundation, check out our <a href="/careers/">careers page</a>.</div>

</section>

<section class="container staff">
    <h1>Staff</h1>
    {% set peoplelist = collections.staff %}
    {% include "peoplelist.njk" %}
</section>

<section class="container board">
    <h1>Board of Directors</h1>
        <div>The Rust Foundation’s Board of Directors is composed of representatives of the <a href="https://www.rust-lang.org/governance">Rust Project</a> (“Project Directors”), and of the Foundation’s <a href="/members/">Membership</a> (“Member Directors”). Directors act collectively to govern the Foundation in accordance with its <a href="/policies/bylaws/">Bylaws</a> and the Board’s <a href="/static/board-terms-of-reference.pdf">Terms of Reference</a>.<br><br>
   Learn more about the <a href="/static/board-director-role-description.pdf">role and responsibilities of a Director</a>.</div>
    {% set peoplelist = collections.board %}
    {% include "peoplelist.njk" %}
</section>

<section class="container advisors">
    <h2>Distinguished Advisors</h2>
    <i>The Rust Foundation executive staff consults with several unpaid advisors outside of the Rust Project who have been selected for their policy-focused knowledge of the Rust community, open source software organizations, and the nonprofit sector. The neutral perspectives of these “Distinguished Advisors” help us consider many different angles when making decisions that fall under their areas of expertise. </i>
    {% set peoplelist = collections.advisors %}
    {% include "peoplelist.njk" %}

<section class="container staff">
    <h2>Technology and Engineering at the Foundation</h2>
    <div>The Rust Foundation’s engineering staff are dedicated to supporting the technical needs of the Rust Foundation through software development and administering strategic initiatives in partnership with the Rust Project and wider Rust Ecosystem. Our engineering staff are currently three primary areas of focus: </div>
    <ul>
      <li>A <a href="https://foundation.rust-lang.org/news/2022-09-13-rust-foundation-establishes-security-team/">security initiative</a>, helping ensure that the Rust ecosystem is as secure as possible.</li>
      <li>Infrastructure, driving engineering and efficiency efforts to ensure that the growing number of Rust developers have a great experience while also trying to manage costs.</li>
      <li>A <a href="https://github.com/rust-lang/rfcs/pull/3355">potential specification effort</a>, providing people and resources to help the Project deliver a useful and quality language specification.</li>
    </ul>

    <h3>Infrastructure and Technology Donors</h3>
    <div>The following organizations have generously donated in-kind infrastructure and technology services to the Rust Foundation. Our Technology Team team is grateful for the benefits they provide to the Foundation and Rust ecosystem.</div>

    {% set techdonorslist = collections.techdonors %}
    {% include "techdonorslist.njk" %}
</section>

</section>
