---
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---
<section class="container">
    <h1>We are the Rust Foundation</h1>

<div>The Rust Foundation is run by a small team of full time staff, and governed by a Board of Directors who represent the Rust project and our member companies. If you're interested in working at the Rust Foundation, check out our <a href="/careers/">careers page</a>.</div>

</section>

<section class="container staff">
    <h1>Staff</h1>
    {% set peoplelist = collections.staff %}
    {% include "peoplelist.njk" %}
</section>

<section class="container board">
    <h1>Board of Directors</h1>
    {% set peoplelist = collections.board %}
    {% include "peoplelist.njk" %}
</section>

<section class="container advisors">
    <h2>Distinguished Advisors</h2>
    <i>The Rust Foundation staff consults with several Distinguished Advisors who have been selected for their knowledge of the Rust community, open source software organizations, and the nonprofit sector. Their neutral perspectives help us consider many different angles when making decisions that fall under their areas of expertise.</i>
    {% set peoplelist = collections.advisors %}
    {% include "peoplelist.njk" %}
    
</section>

<section class="container">
    <h3>Board meeting minutes</h3>
    <div>Minutes of the meetings of the Foundation Board of Directors will be published here. The Board usually meets on the second Tuesday of each month.</div>
    <ul>
        <li><a href="/static/minutes/2023-01-10-minutes.pdf">January 2023 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-12-13-minutes.pdf">December 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-11-08-minutes.pdf">November 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-10-11-minutes.pdf">October 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-09-13-minutes.pdf">September 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-08-09-minutes.pdf">August 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-07-12-minutes.pdf">July 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-06-14-minutes.pdf">June 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-05-10-minutes.pdf">May 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-04-12-minutes.pdf">April 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-03-08-minutes.pdf">March 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-02-08-minutes.pdf">February 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-01-11-minutes.pdf">January 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-12-14-minutes.pdf">December 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-11-09-minutes.pdf">November 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-10-12-minutes.pdf">October 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-09-21-minutes.pdf">September 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-08-10-minutes.pdf">August 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-07-13-minutes.pdf">July 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-06-08-minutes.pdf">June 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-05-11-minutes.pdf">May 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-03-09-minutes.pdf">March 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-02-09-minutes.pdf">February 2021 Board Meeting</a></li>
    </ul>
</section>
<section class="container">
    <h1>Financial filings</h1>
    <div>The Foundation's financial information will be published here after it has been approved and filed with the relevant authorities.</div>
    <ul>
        <li><a href="/static/publications/financial-filings/form-990-2021.pdf">Form 990 (2021)</a></li>
    </ul>
</section>