---
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---
<section class="container">
    <h1>We are the Rust Foundation</h1>

<div>The Rust Foundation is run by a small team of full time staff, and governed by a Board of Directors who represent the Rust project and our member companies. If you're interested in working at the Rust Foundation, check out our <a href="/careers/">careers page</a>.</div>

</section>

<section class="container staff">
    <h1>Staff</h1>
    {% set peoplelist = collections.staff %}
    {% include "peoplelist.njk" %}
</section>

<section class="container staff">
    <h2>Technology and Engineering at the Foundation</h2>
    <div>The Rust Foundation has staff focusing on technology and engineering. They are dedicated to supporting the technical needs of the Rust Foundation, Rust Project and Rust Ecosystem, from administering strategic initiatives to software engineering. There are currently three primary areas of focus: </div>
    <ul>
      <li>The Foundation's <a href="https://foundation.rust-lang.org/news/2022-09-13-rust-foundation-establishes-security-team/">security initiative</a>, helping ensure that the Rust ecosystem is as secure as possible.</li>
      <li>The Rust Project's Infrastructure, driving engineering and efficiency efforts to ensure that the growing number of Rust developers have a great experience while also trying to manage costs.</li>
      <li>The Rust Project's <a href="https://github.com/rust-lang/rfcs/pull/3355">potential specification effort</a>, providing people and resources to help the Project deliver a useful and quality language specification.</li>
    </ul>
</section>

<section class="container board">
    <h1>Board of Directors</h1>
    {% set peoplelist = collections.board %}
    {% include "peoplelist.njk" %}
</section>

<section class="container advisors">
    <h2>Distinguished Advisors</h2>
    <i>The Rust Foundation executive staff consults with several unpaid advisors outside of the Rust Project who have been selected for their policy-focused knowledge of the Rust community, open source software organizations, and the nonprofit sector. The neutral perspectives of these "Distinguished Advisors" help us consider many different angles when making decisions that fall under their areas of expertise. </i>
    {% set peoplelist = collections.advisors %}
    {% include "peoplelist.njk" %}
    
</section>