---
layout: layouts/home.njk
permalink: /board/
eleventyNavigation:
  key: Board
  order: 2
---
<section class="container board">
    <h1>Board of Directors</h1>
    {% set peoplelist = collections.people %}
    {% include "peoplelist.njk" %}
</section>
