---
layout: layouts/base.njk
permalink: /careers/
eleventyNavigation:
  key: Careers
  order: 6
---

<section class="container">
    <h1>Interested in working at the Rust Foundation?</h1>

<!-- Comment this div out when we're not hiring --><div class="job">

<p class="headline">We have a job vacancy</p>

<p>Here are some more details about the job</p>

<p>Here are some more details about the job</p>

<p>Here are some more details about the job</p>

<div class="cta-box">
<div class="cta-white button">
  <a href="https://www.google.co.uk">Apply for this role</a>
</div>
</div>

</div><!-- Comment this div out when we're not hiring -->

<!-- Comment this div out when we're hiring --><div>

<p style="text-align: center; font-weight: bold; font-size: 120%;">OR</p>

<p>Unfortunately we don't have any vacancies right now. Check back here in future, or follow us on <a href="https://twitter.com/rust_foundation">Twitter</a> or <a href="https://www.linkedin.com/company/rust-foundation/">LinkedIn</a>, to hear about new opportunities.</p>

</div><!-- Comment this div out when we're hiring -->

<h2>What's it like to work here?</h2>

<div>
<p>[insert why working at Rust Foundation is great here]</p>
</div>

</section>
