---
layout: layouts/base.njk
permalink: /careers/
eleventyNavigation:
  key: careers
  order: 6
---

<section class="container">
    <h1>Interested in working at the Rust Foundation?</h1>
<p>We have a job vacancy</p>
</section>
