---
layout: layouts/base.njk
permalink: /careers/
eleventyNavigation:
  key: Careers
  order: 6
---

<section class="container">
    <h1>Interested in working at the Rust Foundation?</h1>

<!-- Comment this div out when we're not hiring -->
<div class="job">
<p>We have a job vacancy</p>
</div>

<!-- Comment this div out when we're hiring -->
<div>
<p>Unfortunately we don't have any vacancies right now. Check back here in future, or follow us on <a href="https://twitter.com/rust_foundation">Twitter</a> or <a href="https://www.linkedin.com/company/rust-foundation/">LinkedIn</a>, to hear about new opportunities.</p>
</div>

<div>
<p>[insert why working at Rust Foundation is great here]</p>
</div>

</section>
