---
layout: layouts/base.njk
---

<section class="container">
    <h1>Community Grants Program Eligibility and Selection Criteria</h1>
</section>

<section class="container">

<h2 id="general">Key Points</h2>

<p>You are eligible if....</p>

<p>But you are not eligible if....</p>

</section>

<section class="container">

<h2 id="test-grants">Test Grants Eligibility and Selection Criteria</h2>

<p>You are eligible if....</p>

<p>But you are not eligible if....</p>

</section>