---
layout: layouts/base.njk
permalink: /events/
eleventyNavigation:
  key: Events
  order: 7
---
<section class="container events">
    <h1>Events</h1>

    {% set eventslist = collections.events %}
    {% include "eventslist.njk" %}
</section>
