---
layout: layouts/base.njk
---

<section class="container">
    <h1>Community Grants Program FAQs</h1>
</section>

<section class="container">

<h2 id="general">General FAQs</h2>

<h3>Why are you running a grants program?</h3>

<p>Because.</p>

</section>

<section class="container">

<h2 id="test-grants">Test Grants FAQs</h2>

<h3>Can I have a grant please?</h3>

<p>Try applying for one and see.</p>

<h3>How will I get paid?</h3>

<p>We'll work something out.</p>

</section>