---
layout: layouts/base.njk
---

<section class="container">
    <h1>Community Grants Program Eligibility and Selection Criteria</h1>
</section>

<section class="container">

<h2 id="eligibility-criteria">Eligibility Criteria</h2>

<p>All grant applicants must be over the age of 18 by the date of the grant award.</p>

<p>All grant applicants must ensure that they are able to receive financial transfers from the USA.  Details can be found <a href="https://home.treasury.gov/policy-issues/financial-sanctions/sanctions-programs-and-country-information">here</a> of the restrictions to such transactions.</p>

<p>Individuals whose past behavior(s) would have been in breach of the <a href="https://foundation.rust-lang.org/policies/code-of-conduct/">Rust Foundation Code of Conduct</a>, which is an extension of the <a href="https://www.rust-lang.org/policies/code-of-conduct">Rust Project Code of Conduct</a>, will not be eligible for grant funding.</p>

<p>Applications to the Rust Foundation Fellowships and Project Grants can only be made in English, as successful applicants will need to engage with Project Teams and/or Working Groups for whom English is the primary language of technical communication. Applications for Event Grants can be made in Chinese, Spanish, and Portuguese.</p>

</section>

<section class="container">

<h2 id="exclusion-criteria">Exclusion Criteria</h2>

<p>Applicants who have no experience of Rust, or who are proposing work that is of trivial (or no) value to the Rust community, will be automatically rejected.</p>

<p>Applicants who attempt to lobby decision-makers involved in the grants selection process will be automatically rejected.</p>

<p>Applicants for Project Grants or Fellowships who are already paid to work on the Rust Project full-time will be automatically rejected (part-time is fine).</p>

<p>Prospective applicants for Fellowships or Project Grants who work for one of the Rust Foundation’s Member organizations should contact us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> prior to completing an application, in order for us to assess whether a grant award to them might represent a conflict of interest for the Foundation.</p>

<p>Rust Foundation staff, officers, and directors are not eligible to apply for any Rust Foundation grants. In addition, organizations that are Members of the Rust Foundation are not eligible to apply for Project Grants.</p>

</section>

<section class="container">

<h2 id="projects">Project Grants Selection Process</h2>

<h3>Scoring and Approval</h3>

<p>Scoring will be carried out by the Rust Foundation staff team (as a single group) for a total possible score of 15. To ensure that we are only funding high-quality applicants, a minimum threshold score of 10 is required for an applicant to be considered for an award.  Where necessary, the staff team will reach out to members of an advisory board for insight into specific applications.</p>

<p>Selections for funding will be based on:</p>

<ul class="grant">
<li>Overall application score.</li>
<li>The nature of other applications. We want our funding to be distributed widely across the community, not to be focused on a single area of the Rust Project.</li>
<li>The capacity of Rust Project teams to engage with the projects applied for.  We don’t want to overload any project team.</li>
</ul>

<p>The funding decisions made by the Foundation staff team will be presented to the Rust Foundation Board of Directors for approval.</p>

<h3>Selection Criteria — Individuals and Teams</h3>

<h4>Need, Diversity, and Engagement</h4>

<p>Is/are the applicant(s) currently paid (either by an organization, or through personal sponsorship) to work on the Rust Project?</p>

<ul class="grant">
<li><b>1</b>: The applicant is paid on a part-time basis and/or receives some financial support (e.g. through sponsorship) to work on Rust.</li>
<li><b>2</b>: The applicant receives little or no financial support to work on Rust (less than $1,000 USD per month).</li>
</ul>

<p>Will this application support global Rust engagement?</p>

<ul class="grant">
<li><b>0</b>: The applicant is based in a high engagement country.</li>
<li><b>1</b>: The applicant is based in a low engagement country.</li>
</ul>

<p>Is the applicant/one of the applicants part of a group that is affected by systemic bias, particularly in technology?</p>

<ul class="grant">
<li><b>0</b>: None of the applicants is part of a group that is affected by systemic bias, particularly in technology.</li>
<li><b>1</b>: One or more of the applicants (in the case of a group application) is part of a group that is affected by systemic bias, particularly in technology.</li>
</ul>

<p>We will not request details of how the applicant is affected by systemic bias, we will take their response on trust.</p>

<p>How active is the applicant in the Rust community?</p>

<ul class="grant">
<li><b>0</b>: The applicant is not particularly active in the Rust community.</li>
<li><b>1</b>: The applicant is active in the Rust community.</li>
</ul>

<h4>Knowledge and Experience</h4>

<p>What level of knowledge and experience does the applicant have of Rust?</p>

<ul class="grant">
<li><b>1</b>: Some.</li>
<li><b>2</b>: Considerable.</li>
<li><b>3</b>: Expert.</li>
</ul>

<p>Does the applicant have the skills and experience to deliver the work described in their application?</p>

<ul class="grant">
<li><b>1</b>: The applicant probably has the skills and experience required.</li>
<li><b>2</b>: The applicant definitely has the skills and experience required.</li>
</ul>

<h4>Work and Focus</h4>

<p>The benefit of the work proposed by the applicant will be scored on a five-point scale:</p>

<ul class="grant">
<li><b>1</b>: The proposed work will have no/a trivial amount of benefit to Rust.</li>
<li><b>2</b>: The proposed work will have a small amount of benefit to Rust.</li>
<li><b>3</b>: The proposed work will have a fair amount of benefit to Rust.</li>
<li><b>4</b>: The proposed work will have a considerable amount of benefit to Rust.</li>
<li><b>5</b>: The proposed work will have a highly significant amount of benefit to Rust.</li>
</ul>

<h3>Selection Criteria — Organizations</h3>

<p>The selection criteria for organizational applicants are a little different to those for individuals/teams of individuals.</p>

<h4>Value and Diversity</h4>

<p>Are any of the people working on the project part of a group that is affected by systemic bias, particularly in technology? </p>

<ul class="grant">
<li><b>0</b>: None of the people working on the project are part of a group that is affected by systemic bias, particularly in technology.</li>
<li><b>1</b>: One or more of the people working on the project are part of a group that is affected by systemic bias, particularly in technology.</li>
</ul>

<p>We will not request details of how the applicant is affected by systemic bias, we will take their response on trust.</p>

<p>How active is the applicant in the Rust community?</p>

<ul class="grant">
<li><b>0</b>: The applicant is not particularly active in the Rust community.</li>
<li><b>1</b>: The applicant is active in the Rust community.</li>
</ul>

<h4>Knowledge and Experience</h4>

<p>What level of knowledge and experience does the organization have of Rust?</p>

<ul class="grant">
<li><b>1</b>: The organization uses Rust a little, or is experimenting with Rust.</li>
<li><b>2</b>: Rust is over 20% of the organization’s language usage.</li>
<li><b>3</b>: Rust is the organization’s primary language and/or organizational focus.</li>
</ul>

<p>Does the applicant have the skills and experience to deliver the work described in their application?</p>

<ul class="grant">
<li><b>1</b>: The applicant probably has the skills and experience required.</li>
<li><b>2</b>: The applicant definitely has the skills and experience required.</li>
</ul>

<h4>Work and Focus</h4>

<p>The benefit of the work proposed by the applicant will be scored on a five-point scale:</p>

<ul class="grant">
<li><b>1</b>: The proposed work will have no/a trivial amount of benefit to Rust.</li>
<li><b>2</b>: The proposed work will have a small amount of benefit to Rust.</li>
<li><b>3</b>: The proposed work will have a fair amount of benefit to Rust.</li>
<li><b>4</b>: The proposed work will have a considerable amount of benefit to Rust.</li>
<li><b>5</b>: The proposed work will have a highly significant amount of benefit to Rust.</li>
</ul>

<h4>Value for Money</h4>

<ul class="grant">
<li><b>1</b>: The organizational proposal represents poor value for money.</li>
<li><b>2</b>: The organizational proposal represents reasonable value for money.</li>
<li><b>3</b>: The organizational proposal represents good value for money.</li>
</ul>

</section>

<section class="container">

<h2 id="event-grants">Event Support Grants Selection Process</h2>

<p>Event Support Grant applications will be reviewed and selected by the Rust Foundation staff team.  It is hoped that in the majority of cases the response will be positive.  Event Support Grants will not be subject to the 15-point scoring system used for Project Grants and Fellowships. Instead, there will be a lighter-touch process, reflecting the relatively low amounts being awarded under this program. The staff team will make their decision based on:</p>

<ul class="grant">
<li>The type of event being proposed</li>
<li>The number of people likely to benefit from the event</li>
<li>The amount of funding being sought</li>
<li>The accessibility of the event</li>
<li>The experience of the individual/team running the event</li>
<li>The location/languages of the event</li>
</ul>

<p>We will aim to make a decision regarding an Event Support Grant within 10 working days of receiving an application.</p>

</section>

<section class="container">

<h2 id="hardship-grants">Hardship Grants Selection Process</h2>

<p>Hardship Grant applications will be reviewed and selected by the Rust Foundation staff team.  By exception, we might reach out to Rust Foundation Directors or members of the Project Teams for their advice. But given the sensitive nature of the circumstances under which someone might apply for a Hardship Grant we are keen to keep details of any applications as private as possible. The decisions will be made based upon:</p>

<ul class="grant">
<li>The contributions made by the individual to the Rust Project</li>
<li>The individual’s financial circumstances and need</li>
</ul>

<p>We will aim to make a decision regarding a Hardship Grant within 5 working days of receiving an application.</p>

</section>
