---
layout: layouts/base.njk
permalink: /grants/
eleventyNavigation:
  key: Grants program
  order: 5
---

<section class="container">

<center><h1>Community Grants Program</h1>

<p>The Rust Foundation is proud to support the further development and innovation of Rust by dispensing financial, administrative, and career-development support to community members through the Community Grants Program.</p>
<br>
<center><h5><i>If you have any comments about the Community Grants Program or questions that are not answered after reading the content below, please contact us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a>.</i></h5></center>
<br>

<hr>

<div class="header">
<center><h2>Program Mission</h2></center>
</div>
<br>
<div class="subheader">
<h3><i>Through the Community Grants Program, the Rust Foundation aims to:</i></h3>
</div>
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.statement {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.mission:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .statement {
    width: 100%;
  }
}

</style>

<div class="mission">
  <div class="statement">
  <h3>SUPPORT THE MAINTAINERS OF RUST.</h3>
  <p><i>We know that many people have volunteered significant time to help make Rust what it is today. We hope that our funding will go some way in acknowledging their efforts and rewarding their future contributions.</i></p>
  </div>
  <div class="statement">
  <h3>NURTURE THE COMMUNITY OF RUST USERS.</h3>
  <p><i>By supporting contributors across the world, we hope to support the diversity and health of the Rust community and create more opportunities for contributors of all backgrounds.</p></i>
  </div>
  <div class="statement">
  <h3>ENABLE THE FURTHER INNOVATION OF RUST.</h3>
  <p><i>By rewarding and supporting Rust community members' innovative ideas, our grants serve as a strategic investment in the long-term growth and advancement of the Rust ecosystem.</p></i>
  </div>
  <p>&nbsp;</p>
<hr>
<br>
<div class="header">
<p><center><h2>Guiding Principles</h2></center></p>
</div>
<br>
<div class="subheader">
<i><h3>The design and implementation of the grants program has been guided by the following standards:</h3></i>
</div>
<div class="INDEPENDENCE">
<u><p style="display: inline;">INDEPENDENCE:</p></u>
<p style="display: inline;">The Community Grants Program must operate, and be clearly seen to operate, independently of the member organizations of the Foundation and any corporate interests.</p>
</div>
<br>
<div class="fairness">
<u><p style="display: inline;">FAIRNESS:</p></u>
<p style="display: inline;">Rust Foundation grants must be awarded fairly, without bias or prejudice, and actively seek to represent the diversity of the global Rust community.</p>
</div>
<br>
<div class="transparency">
<u><p style="display: inline;">TRANSPARENCY:</p></u>
<p style="display: inline;">The grant awarding processes must be clearly described both to the applicants themselves and to the community as a whole.</p>
</div>
<br>
<div class="responsiveness">
<u><p style="display: inline;">RESPONSIVENESS:</p></u>
<p style="display: inline;">The Rust Foundation must be receptive and responsive to feedback and criticism about the operation of the Community Grants Program. Such feedback should be used to iterate future grant programs.</p>
</div>
<br>
<div class="lightness of touch">
<u><p style="display: inline;">LIGHTNESS OF TOUCH:</p></u>
<p style="display: inline;">The application processes and monitoring and evaluation processes should not be overly onerous for the applicants and successful grantees.</p>
</div>
<br>
<div class="trust">
<u><p style="display: inline;">TRUST:</p></u>
<p style="display: inline;">The Rust Foundation must fundamentally trust that its grantees are committed to Rust and not burden them with officious oversight.</p>
</div>
<br>
<div class="impact">
<u><p style="display: inline;">IMPACT:</p></u>
<p style="display: inline;">Rust Foundation grants should aim to be as impactful as possible in their support of Rust.</p>
</div>
<br>
<div class="flexibility">
<u><p style="display: inline;">FLEXIBILITY:</p></u>
<p style="display: inline;">The Rust Foundation must be prepared to change its expectations of the outcomes of a grant should the personal circumstances of our grantees change.</p>
</div>
<hr>

<center><h2>Grant Categories</h2></center>
<br>

<center><style>
  .bordered2 {
    margin: 10px;
    width: 600px;
    max-width: 100%;
    text-align: left;
    color: #000000;
    height: auto;
    padding: 10px;
    border: 1px solid lightorange;
    border-radius: 6px;
    background-color: #bab7c8
  }
</style>

<div class="bordered2">
<p><u>Rust Foundation Fellowships</p></u>
<p>Stipends of $1,000 per month, plus a travel and training budget, granted to up to 12 individuals who are either already contributing to the Rust community or who have Rust experience and a high potential to benefit the community through their contributions.</p><a href="/grants/fellowships/" style="color:#000000;">>> Learn More</a></center>

</div>

<center><style>
  .bordered3 {
    margin: 10px;
    width: 600px;
    max-width: 100%;
    text-align: left;
    color: #000000;
    height: auto;
    padding: 10px;
    border: 1px solid lightorange;
    border-radius: 6px;
    background-color: #D9D9D9
  }
</style>

<div class="bordered3">
<p><u>Project Grants</p></u>
<p>Awards made to individuals and groups for discrete pieces of work in the range of $2,500 to $15,000. The Rust Foundation will be opening a new round of Project Grants later in the year. Click the link below for updates on the 2023 Project Grant Application and to find out more about this program.</p><a href="/grants/project-grants/" style="color:#000000;">>> Learn More</a></center>

</div>

<center><style>
  .bordered4 {
    margin: 10px;
    width: 600px;
    max-width: 100%;
    text-align: left;
    color: #000000;
    height: auto;
    padding: 10px;
    border: 1px solid lightorange;
    border-radius: 6px;
    background-color: #bab7c8
  }
</style>

<div class="bordered4">
<p><u>Event Support Grants</p></u>
<p>Awards ranging from $100 to $500 made to support virtual and in-person events benefitting the Rust ecosystem.</p><a href="https://foundation.rust-lang.org/grants/event-support-grants/" style="color:#000000;">>> Learn More</a></center>

</div>

<center><style>
  .bordered5 {
    margin: 10px;
    width: 600px;
    max-width: 100%;
    text-align: left;
    color: #000000;
    height: auto;
    padding: 10px;
    border: 1px solid lightorange;
    border-radius: 6px;
    background-color: #D9D9D9;
  }
</style>

<div class="bordered5">
<p><u>Hardship Grants</p></u>
<p>Awards ranging from $500 to $1,500 made to active maintainers of the Rust Project facing financial hardship.</p><a href="https://foundation.rust-lang.org/grants/hardship-grants/" style="color:#000000;">>> Learn More</a></center>

</div>

<hr>

<center><h2>General Program FAQs</h2></center>

<style>
.details {
  text-align: left;
  margin: 100px;
  }

.details p {
  margin-bottom: 1em;
  line-height: normal;
}
    </style>

  <div class="details">
  <details>
  <summary>Who makes the grant selection decisions?</summary>
  <h3>The Rust Foundation’s staff team is responsible for selecting all grant recipients, however we occasionally seek input from leaders within the Rust Project and Rust Foundation Member Directors on specific applications.</h3>
</details>

<details>
  <summary>What is the Rust Project’s involvement in the Community Grants Program?</summary>
  <h3>In developing the Community Grants Program, the Rust Foundation’s staff team consulted with the Rust Foundation Project Directors (representatives for the Rust Project that serve on our board of directors) and grantee mentors from within the Rust Project. While the Foundation makes the ultimate decisions about grants to award, we seek input from leaders within the Rust Project.</h3>
</details>

<details>
  <summary>Will the corporate members that fund the Rust Foundation be making the grant selection decisions?</summary>
  <h3>No. While we occasionally consult with specific Rust Foundation Member Directors when they can help us better assess an individual applicant’s candidacy, all final decisions about grants to award are made by the Rust Foundation’s staff team.</h3>
</details>

<details>
  <summary>Can I contact Rust Foundation Board members to talk more about my application?</summary>
  <h3>No. It is essential that the people involved in making the selection decisions can do so without any external interference, and we need to ensure that they are not overwhelmed by a lot of individuals contacting them to lobby for their application. For this reason it is important that your application is as comprehensive and compelling as possible. Any applicant who attempts to lobby one of the Rust Foundation Board members will automatically have their application rejected.</h3>
</details>

<details>
  <summary>Can I appeal the decision if my grant application is unsuccessful?</summary>
  <h3>No, all grant decisions will be final.</h3>
</details>

<details>
  <summary>Will I receive feedback on my application if it is unsuccessful?</summary>
  <h3>Yes, we hope to be able to give feedback to unsuccessful applicants in order to help them make successful applications in the future. This may take some time, depending on the volume of applications that we receive.</h3>
</details>

<details>
  <summary>Can you help me understand the tax implications of receiving a grant?</summary>
  <h3>Individual grantees are responsible for ensuring that they are complying with any tax laws that apply to the receipt of this funding in their country/jurisdiction of residence. The Rust Foundation cannot provide advice on the personal tax arrangements or obligations of individual grantees.</h3>
</details>

<details>
  <summary>I have a question that hasn’t been answered here. How can I get in touch for more information?</summary>
  <h3>Please email <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> and we will do our best to help.</h3>
</details></div>


<center><h2>More Information</h2></center>

<p><center>Grant-specific FAQs can be found <a href="/grants-faqs/">here</a>. | Eligibility and exclusion criteria can be found <a href="/grants-eligibility/">here</a>. | Our privacy & data-handling policy can be found <a href="/policies/privacy-policy/">here</a>

</p></center>

<hr>

<center><h2>The Community Grants Program is made possible by these generous organizations:</h2></center>

<ul class="donorslist">

<li><a href="https://www.activision.com/"><img src="/img/grants/activision.png"></a></li>

<li><a href="https://aws.amazon.com/"><img src="/img/member/aws.png"></a></li>

<li><a href="https://www.cargurus.com/"><img src="/img/grants/cargurus.png"></a></li>

<li><a href="https://www.frontendmasters.com/"><img src="/img/grants/frontendmasters.png"></a></li>

<li><a href="https://google.com/"><img src="/img/member/google.png"></a></li>

<li><a href="https://www.huawei.com/"><img src="/img/member/huawei.png"></a></li>

<li><a href="https://replit.com/"><img src="/img/grants/replit.png"></a></li>

<li><a href="https://www.tag1consulting.com/"><img src="/img/member/tag1.png"></a></li>

<li><a href="https://zama.ai/"><img src="/img/member/zama.png"></a></li>

</ul>

<center><p>...and by the companies and individuals who contribute through our <a href="https://github.com/sponsors/rustfoundation">GitHub Sponsors</a> page.</p></center>

<center><p><i>If your organization is interested in supporting the future of Rust’s talent and innovation through the Community Grants Program, please email us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a>. Donations in any amount are greatly appreciated.</p></center></i>

</h3>

</section>
