---
layout: layouts/base.njk
---

<section class="container" style="margin-bottom: 0;">
    <h1>Community Grants Program Eligibility</h1>
</section>

<section class="container" style="margin-top: 0;">

<h2 id="eligibility-criteria">General Eligibility Criteria</h2>

<p>All grant applicants must be over the age of 18 by the date of the grant award.</p>

<p>All grant applicants must ensure that they are able to receive financial transfers from the USA.  Details can be found <a href="https://home.treasury.gov/policy-issues/financial-sanctions/sanctions-programs-and-country-information">here</a> of the restrictions to such transactions.</p>

<p>Individuals whose past behavior(s) would have been in breach of the <a href="https://foundation.rust-lang.org/policies/code-of-conduct/">Rust Foundation Code of Conduct</a>, which is an extension of the <a href="https://www.rust-lang.org/policies/code-of-conduct">Rust Project Code of Conduct</a>, will not be eligible for grant funding.</p>

<p>Successful applicants for most of our grants will need to engage with Project Teams and/or Working Groups for whom English is the primary language of technical communication, so a good standard of written English is usually required.</p>

</section>

<section class="container">

<h2 id="exclusion-criteria">General Exclusion Criteria</h2>

<p>Applicants who have no experience of Rust, or who are proposing work that is of trivial (or no) value to the Rust community, will be automatically rejected.</p>

<p>Applicants who attempt to lobby decision-makers involved in the grants selection process will be automatically rejected.</p>

<p>Fellowship applicants who are already paid to work on the Rust Project full-time will be automatically rejected (part-time is fine).</p>

<p>Rust Foundation staff, officers, and directors are not eligible to apply for any Rust Foundation grants. In addition, organizations that are Members of the Rust Foundation are not eligible to apply.</p>

<p>Prospective applicants who work for one of the Rust Foundation’s Member organizations should contact us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> prior to completing an application. This will initiate an assessment of whether a grant award to them might represent a conflict of interest for the Foundation.</p>

</section>

<section class="container">

<h2 id="specifics">Specific Eligibility and Exclusion Criteria</h2>

<p>Applicants should also check the information page about the type of grant they are considering applying for. Any specific eligibility or exclusion criteria for that particular grant will be outlined there.</p>

</section>
