---
layout: layouts/base.njk
permalink: /grants/
eleventyNavigation:
  key: Grants program
  order: 5
---

<section class="container">
    <h1>Community Grants Program</h1>
<div>The Rust Foundation Community Grants Program will be launching in April 2022. Further information will be published here shortly.
<!--In the meantime you can read about the findings of our grant program survey here. (link to CGP blog post when published)--></div>
</section>
