---
layout: layouts/base.njk
permalink: /grants/
eleventyNavigation:
  key: Grants program
  order: 5
---

<section class="container">

<h1>Community Grants Program</h1>


<p>The Rust Foundation has a budget of $625,000 (generously donated by AWS, Huawei, and Google) to run a grants program for the Rust community in 2022. These grants will be complementing the existing ecosystem of funding for the Rust community, not replacing it.</p>

<p>The objectives of the program are:</p>

<ul class="grant">
<li>To support the maintainers of Rust.  We know that many people have dedicated significant amounts of their time on a volunteer basis to help make Rust what it is today.  We hope that our funding will go some way in acknowledging their efforts and providing some reward for their future contributions.</li>
<li>To support and grow the community of Rust users.  We are particularly keen to support the spread and diversity of the community.</li>
<li>To support the further innovation of Rust.</li>
</ul>

<p>If you have any comments about the program, or questions that haven’t been answered after reading these pages, please contact us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> to let us know. We can then improve the information for everyone else.</p>

<h2>Principles</h2>

<p>The design and implementation of the grants program has been guided by the following principles:</p>

<ul class="grant">
<li><b>Independence:</b> the grants program must operate, and be clearly seen to operate, independently of the member organizations of the Foundation in order to ensure that there is not even the perception that it is possible for corporate interests to “buy” influence over Rust.</li>
<li><b>Fairness:</b> the grants must be awarded fairly, without bias or prejudice, and actively seek to represent the diversity of the global Rust community.</li>
<li><b>Transparency:</b> the processes followed in awarding the grants must be clearly described both to the applicants themselves and the community as a whole.</li>
<li><b>Responsiveness:</b> the Foundation must be receptive and responsive to feedback and criticism about the operation of the grants program.  Such feedback should be used to iterate future grant programs.</li>
<li><b>Lightness of touch:</b> the application processes and monitoring and evaluation processes should not be overly onerous for the applicants and successful grantees.</li>
<li><b>Trust:</b> the foundation must fundamentally trust that its grantees are committed to Rust and not burden them with officious oversight.</li>
<li><b>Impact:</b> whilst acknowledging the challenges of measuring such a concept, the grants should aim to be as impactful as possible in their support of Rust.</li>
<li><b>Flexibility:</b> the Foundation must understand that things won't always go according to plan and be prepared to change its expectations of the outcomes of a grant should the need arise.</li>
</ul>

<h2>Overview of the Program</h2>

<p>There are four separate strands to the Rust Foundation Community Grants program:</p>

    {% set grantslist = collections.grants %}
    {% include "grantslist.njk" %}

<h2>Eligibility and selection process</h2>

<p>Full details of eligibility for the different grants, and the selection processes and scoring criteria, can be found <a href="/grants-eligibility-and-selection/">here</a>.</p>

<h2>FAQs</h2>

<p>Frequently asked questions can be found <a href="/grants-faqs/">here</a>.</p>

<h2>Privacy</h2>

<p>You can learn more about our Privacy Policy and how we handle personal data <a href="/policies/privacy-policy/">here</a>.</p>

</section>
