---
layout: layouts/base.njk
---

<section class="container">
    <h1>Community Grants Program Eligibility and Selection Criteria</h1>
</section>

<section class="container">

<h2 id="eligibility-criteria">Eligibility Criteria</h2>

<p>All grant applicants must be over the age of 18 by the date of the grant award.</p>

<p>All grant applicants must ensure that they are able to receive financial transfers from the USA.  Details can be found <a href="https://home.treasury.gov/policy-issues/financial-sanctions/sanctions-programs-and-country-information">here</a> of the restrictions to such transactions.</p>

<p>Individuals whose past behavior(s) would have been in breach of the <a href="https://foundation.rust-lang.org/policies/code-of-conduct/">Rust Foundation Code of Conduct</a>, which is an extension of the <a href="https://www.rust-lang.org/policies/code-of-conduct">Rust Project Code of Conduct</a>, will not be eligible for grant funding.</p>

<p>Applications to the Rust Foundation Fellowships and Project Grants can only be made in English, as successful applicants will need to engage with Project Teams and/or Working Groups for whom English is the primary language of technical communication. Applications for Event Grants can be made in Chinese, Spanish, and Portuguese.</p>

</section>

<section class="container">

<h2 id="exclusion-criteria">Exclusion Criteria</h2>

<p>Applicants who have no experience of Rust, or who are proposing work that is of trivial (or no) value to the Rust community, will be automatically rejected.</p>

<p>Applicants who attempt to lobby decision-makers involved in the grants selection process will be automatically rejected.</p>

<p>Applicants for Project Grants or Fellowships who are already paid to work on the Rust Project full-time will be automatically rejected (part-time is fine).</p>

<p>Rust Foundation staff, officers, and directors are not eligible to apply for any Rust Foundation grants. In addition, organizations that are Members of the Rust Foundation are not eligible to apply.</p>

<p>Prospective applicants who work for one of the Rust Foundation’s Member organizations should contact us at <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> prior to completing an application, in order for us to assess whether a grant award to them might represent a conflict of interest for the Foundation.</p>

</section>

<section class="container">

<h2 id="event-grants">Event Support Grants Selection Process</h2>

<p>Event Support Grant applications will be reviewed and selected by the Rust Foundation staff team.  It is hoped that in the majority of cases the response will be positive.  Event Support Grants will not be subject to a point-based scoring system. Instead, there will be a lighter-touch process, reflecting the relatively low amounts being awarded under this program. The staff team will make their decision based on:</p>

<ul class="grant">
<li>The type of event being proposed</li>
<li>The number of people likely to benefit from the event</li>
<li>The amount of funding being sought</li>
<li>The accessibility of the event</li>
<li>The experience of the individual/team running the event</li>
<li>The location/languages of the event</li>
</ul>

<p>We will aim to make a decision regarding an Event Support Grant within 10 working days of receiving an application.</p>

</section>

<section class="container">

<h2 id="hardship-grants">Hardship Grants Selection Process</h2>

<p>Hardship Grant applications will be reviewed and selected by the Rust Foundation staff team.  By exception, we might reach out to Rust Foundation Directors or members of the Project Teams for their advice. But given the sensitive nature of the circumstances under which someone might apply for a Hardship Grant we are keen to keep details of any applications as private as possible. The decisions will be made based upon:</p>

<ul class="grant">
<li>The contributions made by the individual to the Rust Project</li>
<li>The individual’s financial circumstances and need</li>
</ul>

<p>We will aim to make a decision regarding a Hardship Grant within 5 working days of receiving an application.</p>

</section>
