---
layout: layouts/base.njk
---

<section class="container" style="margin-bottom: 0;">
    <h1>Community Grants Program FAQs</h1>
</section>

<section class="container" style="margin-top: 0;">

<center><h2>General FAQs</h2></center>

<style>
.details {
  text-align: left;
  margin: 10px;
  }

.details p {
  margin-bottom: 1em;
  line-height: normal;
}
    </style>

  <div class="details">
  <details>
  <summary>Who makes the grant selection decisions?</summary>
  <h3>The Rust Foundation’s staff team is responsible for selecting all grant recipients, however we occasionally seek input from leaders within the Rust Project and Rust Foundation Member Directors on specific applications.</h3>
</details>

<details>
  <summary>What is the Rust Project’s involvement in the Community Grants Program?</summary>
  <h3>In developing the Community Grants Program, the Rust Foundation’s staff team consulted with the Rust Foundation Project Directors (representatives for the Rust Project that serve on our board of directors) and grantee mentors from within the Rust Project. While the Foundation makes the ultimate decisions about grants to award, we seek input from leaders within the Rust Project.</h3>
</details>

<details>
  <summary>Will the corporate members that fund the Rust Foundation be making the grant selection decisions?</summary>
  <h3>No. While we occasionally consult with specific Rust Foundation Member Directors when they can help us better assess an individual applicant’s candidacy, all final decisions about grants to award are made by the Rust Foundation’s staff team.</h3>
</details>

<details>
  <summary>Can I contact Rust Foundation Board members to talk more about my application?</summary>
  <h3>No. It is essential that the people involved in making the selection decisions can do so without any external interference, and we need to ensure that they are not overwhelmed by a lot of individuals contacting them to lobby for their application. For this reason it is important that your application is as comprehensive and compelling as possible. Any applicant who attempts to lobby one of the Rust Foundation Board members will automatically have their application rejected.</h3>
</details>

<details>
  <summary>Can I appeal the decision if my grant application is unsuccessful?</summary>
  <h3>No, all grant decisions will be final.</h3>
</details>

<details>
  <summary>Will I receive feedback on my application if it is unsuccessful?</summary>
  <h3>Yes, we hope to be able to give feedback to unsuccessful applicants in order to help them make successful applications in the future. This may take some time, depending on the volume of applications that we receive.</h3>
</details>

<details>
  <summary>Can you help me understand the tax implications of receiving a grant?</summary>
  <h3>Individual grantees are responsible for ensuring that they are complying with any tax laws that apply to the receipt of this funding in their country/jurisdiction of residence. The Rust Foundation cannot provide advice on the personal tax arrangements or obligations of individual grantees.</h3>
</details>

<details>
  <summary>I have a question that hasn’t been answered by the information on your website. How can I get in touch for more information?</summary>
  <h3>Please email <a href="mailto:grants@rustfoundation.org">grants@rustfoundation.org</a> and we will do our best to help.</h3></details>

<br>
<br>
  
<center><h2>Fellowship FAQs</h2></center>

  <details>
  <summary>How long does the program last?</summary>
  <h3>12 months.</h3>
</details>

<details>
  <summary>Does it matter which country I live in or what my citizenship status is?</summary>
  <h3>No, but you have to be able to legally receive funds from the USA to be a Fellow.</h3>
</details>

<details>
  <summary>I am 17, can I apply to be a Rust Foundation Fellow?</summary>
  <h3>In order to accommodate and abide by different countries’ child labor laws, we are not able to consider applications from people under the age of 18.</h3>
</details>

<details>
  <summary>I am not currently a member of a Rust Project Team or Working Group, can I apply?</summary>
  <h3>Yes.</h3>
</details>

<details>
  <summary>I don’t have any experience with Rust, can I apply?</summary>
  <h3>We are only able to consider applications from individuals who possess some Rust experience</h3>
</details>

<details>
  <summary>How much time will I have to spend working on Rust for my Fellowship?</summary>
  <h3>While RFFs are expected to dedicate an average of 20 hours per month on program work we acknowledge the time demands on Rust community members. As such, we are flexible in allowing RFFs to map out their own working patterns and encourage RFFs to prioritize work-life balance.</h3>
</details>

<details>
  <summary>I can’t commit to dedicating 20 hours of time to Rust every month, is that going to be a problem?</summary>
  <h3>While we expect Fellows to spend an average of 20 hours per month on the program, we understand that schedules vary over the course of a year and the program will accommodate this reality as needed.</h3>
</details>

<details>
  <summary>If I become a Fellow do I have to increase the number of hours I spend working on Rust?</summary>
  <h3>No. If you are already spending 20 or more hours a month working on the Rust project, then no additional hours will be necessary. We encourage Fellows to limit the additional amount of time they spend working on the project to help achieve a healthy work-life balance.</h3>
</details>

<details>
  <summary>I am interested in building the Rust community, not writing code, can I apply?</summary>
  <h3>Yes, although you will be required to have some experience contributing to the Rust community and be able to communicate a clear idea of how your work would benefit the Rust ecosystem.</h3>
</details>

<details>
  <summary>I am currently paid to work on the Rust Project, can I apply?</summary>
  <h3>We are only able to consider applications from part-time Rust Project contributors or unpaid contributors.</h3>
</details>

<details>
  <summary>Do I have to speak English to be a Rust Foundation Fellow?</summary>
  <h3>Spoken English is not a requirement of the program, but Fellows will need a reasonable understanding of written English in order to be able to interact with members of the Project Teams and Working Groups.</h3>
</details>

<details>
  <summary>How does the travel stipend work?</summary>
  <h3>Fellows will be asked to inform the Rust Foundation of the Rust-focused event they want to attend during their Fellowship year. Our team will review this information with the Fellow and, once confirmed, will provide the funds necessary to cover attendance. The travel budget (limited to $2,000 USD per Fellow) is intended to provide economy travel, accommodation and subsistence, plus the cost of event admission.</h3>
</details>

<details>
  <summary>How does the training stipend work?</summary>
  <h3>The Rust Foundation team will work with each Fellow to understand the type of training support that would be valuable to them. We require training to be relevant to the Fellowship position. Examples of training categories we support: project planning, organizational management, leadership, document writing, and effective communication.</h3>
</details>

<details>
  <summary>How will I report my work as a RFF?</summary>
  <h3>Fellows will be required to write a brief report each quarter, and participate in a catch-up call with a member of the Rust Foundation staff team. At the end of the Fellowship year, RFFs will write a brief blog post about their experience for publication on the Rust Foundation website.</h3>
</details>

<details>
  <summary>If I become a Fellow, will any information about me be published publicly?</summary>
  <h3>We will publish a brief biography of you on the Rust Foundation website, along with any public social media/other relevant links that you are willing to share. If you would rather we use your online alias in place of your legal name, please let us know. While our preference is to publish a picture of you, we will also accept an avatar as an alternative.</h3>
</details>

<details>
  <summary>How will I get paid as a Fellow?</summary>
  <h3>RFFs are typically paid via direct bank transfers.</h3>
</details>

<details>
  <summary>Who will own the work that I produce as a Fellow?</summary>
  <h3>You will own the IP of any work that you create as a Fellow. However, we will require you to release your work as a RFF under an open source license so it can benefit the community as a whole.</h3>
</details>

<details>
  <summary>Can I drop out of the Fellowship before the year is up if I am not enjoying it?</summary>
  <h3>Yes, however we will do everything we can to find ways to make the program more enjoyable for you! Our goal is for all Fellows to feel comfortable telling the Rust Foundation team if they have issues or concerns related to the program so we can work together to find a solution.</h3>
</details>

<details>
  <summary>How will my work be monitored during the program?</summary>
  <h3>The Rust Foundation trusts our Fellows to honestly report how they have been supporting the Rust Project.</h3>
</details>

<details>
  <summary>Can you help me understand the tax implications of receiving a Fellowship grant?</summary>
  <h3>Individual Fellows are responsible for ensuring that they are complying with any tax laws that apply to the receipt of this funding in their country/jurisdiction of residence. The Rust Foundation cannot provide advice on the personal tax arrangements or obligations of individual fellows.</h3>
</details>
<br>
<br>
<center><h2>Project Grant FAQs</h2></center>

  <details>
  <summary>How long does the program last?</summary>
  <h3>Project Grants are typically awarded for packages of work spanning 6 months.</h3>
</details>

<details>
  <summary>Does it matter which country I live in or what my citizenship status is?</summary>
  <h3>No, but you have to be able to legally receive funds from the USA to be a Project Grant recipient.</h3>
</details>

<details>
  <summary>I am 17, can I apply to be a Rust Foundation Grantee?</summary>
  <h3>In order to accommodate and abide by different countries’ child labor laws, we are not able to consider applications from people under the age of 18.</h3>
</details>

<details>
  <summary>What type of work do Rust Foundation Project Grants support?</summary>
  <h3>Any work that benefits the Rust ecosystem as a whole is eligible for a Project Grant. Priority will be given to those grants that will clearly deliver a significant benefit to a reasonable proportion of the Rust community.</h3>
</details>

<details>
  <summary>Who can apply for a Project Grant?</summary>
  <h3>Project Grants are open to applications from anyone who will be over the age of 18 at the time of the grant award. Rust Foundation staff, officers, and directors are not eligible to apply for any Rust Foundation grants. Employees of organizations that are Members of the Rust Foundation should contact us at grants@rustfoundation.org prior to completing an application, in order for us to assess whether an award to them might represent a conflict of interest for the Foundation.</h3>
</details>

<details>
  <summary>I am interested in building the Rust community as the focus of a potential Project Grant, not writing code. Can I apply?</summary>
  <h3>Yes.</h3>
</details>

<details>
  <summary>Do I have to speak English to be a Rust Foundation Grantee?</summary>
  <h3>Spoken English is not a requirement of the program, but Fellows will need a reasonable understanding of written English in order to be able to interact with the Rust Foundation staff team and the larger Rust community when necessary.</h3>
</details>

<details>
  <summary>If I become a Project Grantee, will any information about me be published publicly?</summary>
  <h3>We will publish a brief biography of you on the Rust Foundation website, along with any public social media/other relevant links that you are willing to share. If you would rather we use your online alias in place of your legal name, please let us know. While our preference is to publish a picture of you, we will also accept an avatar as an alternative.</h3>
</details>

<details>
  <summary>How will I get paid as a Project Grantee?</summary>
  <h3>RFFs are typically paid via direct bank transfers.</h3>
</details>

<details>
  <summary>Can I drop out of the program if I am not enjoying it?</summary>
  <h3>Yes, however we will do everything we can to find ways to make the program more enjoyable for you! Our goal is for all Fellows to feel comfortable telling the Rust Foundation team if they have issues or concerns related to the program so we can work together to find a solution.</h3>
</details>

<details>
  <summary>How will my work be monitored during the program?</summary>
  <h3>The Rust Foundation trusts our Project Grantees to honestly report how they have been supporting the Rust Project.</h3>
</details>
<br>
<br>
<center><h2>Hardship Grant FAQs</h2></center>

  <details>
  <summary>When can I apply for a Hardship Grant?</summary>
  <h3>The Hardship Grant application is open on an ongoing basis. Please visit <a href="/grants/hardship-grants/">this page</a> for more information and to apply.</h3>
</details>

<details>
  <summary>Who is eligible to apply for a Hardship Grant?</summary>
  <h3>Rust community members who contribute significantly to the Rust Project and who have urgent financial insecurity.</h3>
</details>

<details>
  <summary>I am 17, can I apply for a Rust Foundation Hardship Grant?</summary>
  <h3>You have to be 18 or older. We need to be mindful of different countries’ child labor laws, and laws that mean people under the age of 18 can’t enter into legal contracts.</h3>
</details>

<details>
  <summary>Can I apply for more than one Hardship Grant?</summary>
  <h3>You can apply for up to two Hardship Grants in each calendar year.</h3>
</details>

<details>
  <summary>Who makes the Hardship Grant recipient decisions?</summary>
  <h3>Hardship Grant applications will be reviewed and selected by the Rust Foundation staff team with possible input from Rust Foundation Directors or members of the Project Teams if counsel is needed.</h3>
</details>

<details>
  <summary>What are Hardship Grant decisions based upon?</summary>
  <h3>The decisions will be made based upon the contributions made by the individual to the Rust Project and community and the individual’s financial circumstances and needs</h3>
</details>

<details>
  <summary>Will any information about me be shared publicly if I receive a Hardship Grant?</summary>
  <h3>As a rule, the Rust Foundation will endeavor to keep details of any Hardship Grant application as private as possible, due to the sensitive circumstances under which someone might apply for a Hardship Grant.</h3>
</details>
<br>
<br>
<center><h2>Event Grant FAQs</h2></center>

   <details>
  <summary>When can I apply for an Event Support Grant?</summary>
  <h3>The application is open on an ongoing basis. Please visit <a href="/grants/event-support-grants/">this page</a> for more information and to apply.</h3>
</details>

<details>
  <summary>Who is eligible to apply for an Event Support Grant?</summary>
  <h3>Rust Event Support Grants are available to provide financial support for individuals, groups, and organizations to help cover the costs they incur in running events that support the Rust community.</h3>
</details>

<details>
  <summary>I am 17, can I apply for a Rust Foundation Event Support Grant?</summary>
  <h3>You have to be 18 or older. We need to be mindful of different countries’ child labor laws, and laws that mean people under the age of 18 can’t enter into legal contracts.</h3>
</details>

<details>
  <summary>Can teams of people apply for an Event Support Grant?</summary>
  <h3>Yes, we welcome applications from teams of people and organizations.</h3>
</details>

<details>
  <summary>Does it matter which country I live in or what my citizenship status is?</summary>
  <h3>No, but you (or your organization) must be able to legally receive funds from the USA to receive an Event Support grant.</h3>
</details>

<details>
  <summary>I am not currently a member of a Rust Project Team or Working Group, can I apply for an Event Support Grant?</summary>
  <h3>Yes.</h3>
</details>

<details>
  <summary>I/my organization doesn’t have any experience with Rust, can I apply?</summary>
  <h3>Experience with running events – particularly events for open source communities – is more important than experience with Rust. But in order to demonstrate that your event will be a success, we'll expect you to show us how well you're connected to your local Rust users.</h3>
</details>

<details>
  <summary>Do people have to adhere to a Code of Conduct to be awarded an Event Support Grant?</summary>
  <h3>Yes, you have to adhere to the <a href="https://foundation.rust-lang.org/policies/code-of-conduct/">Rust Foundation Code of Conduct</a>.</h3>
</details>

<details>
  <summary>Will I have to write a report about my event?</summary>
  <h3>Yes, you will have to provide a brief written report about your event, for publication on the Rust Foundation website.</h3></details>
  
  <details>
  <summary>Will I need to provide receipts?</summary>
  <h3>Yes, after the event you will need to provide a report showing how the grant was spent, with copies of receipts. If you don’t spend all of the grant money on your event, you will have to return the balance to the Foundation.</h3>
</details>

<details>
  <summary>How will I get paid for my event?</summary>
  <h3>We typically pay via direct bank transfers.</h3>
</details>
<br></div>

</section>
