---
layout: layouts/base.njk
---

<section class="container">
    <h1>Community Grants Program FAQs</h1>
</section>

<section class="container">

<h2>Who will be making the grant selection decisions?</h2>

<p>The Rust Foundation’s staff team is responsible for selecting all grant recipients, however we occasionally seek input from leaders within the Rust Project and Rust Foundation Member Directors on specific applications.</p>

<h2>What is the Rust Project’s involvement in the Community Grants Program?</h2>

<p>In developing the program, the Rust Foundation’s staff team consulted with the Rust Foundation Project Directors (representatives for the Rust Project that serve on our board of directors) and grantee mentors from within the Rust Project. While the Foundation makes the ultimate decisions about grants to award, we seek input from leaders within the Rust Project.</p>

<h2>Will the corporate members that fund the Rust Foundation be making the grant selection decisions?</h2>

<p>No. While we occasionally consult with specific Rust Foundation Member Directors when they can help us better assess an individual applicant’s candidacy, all final decisions about grants to award are made by the Rust Foundation’s staff team.</p>

<h2>Can I contact Rust Foundation Board members to talk more about my application?</h2>

<p>No. It is essential that the people involved in making the selection decisions can do so without any external interference, and we need to ensure that they are not overwhelmed by a lot of individuals contacting them to lobby for their application. For this reason it is important that your application is as comprehensive and compelling as possible. Any applicant who attempts to lobby one of the Rust Foundation Board members will automatically have their application rejected.</p>

<h2>Can I appeal the decision if my grant application is unsuccessful?</h2>

<p>No, all grant decisions will be final.</p>

<h2>Will I receive feedback on my application if it is unsuccessful?</h2>

<p>Yes, we hope to be able to give feedback to unsuccessful applicants in order to help them make successful applications in the future. This may take some time, depending on the volume of applications that we receive.</p>

</section>
