---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section class="container" id="mission">
    <h1>Good software is built by happy, well-supported people</h1>
    <h2>The Rust Foundation is an independent non-profit organization to steward the <a href="https://www.rust-lang.org">Rust programming language</a> and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.</h2>
    <div class="cta-gradient button"><a href="/info/become-a-member">Become a Member</a></div>
</section>

<section class="container" id="special-content">
    <h1>Ask Me Anything (AMA) 11 April 2022</h1>
    
    <div><img src="/img/2022-04-ama.png" alt="Save the Date: Rust's Q2 AMA will take place online, Monday April 11 2022 at 10:30am EDT / 7:30am PDT / 4:30pm CET" /></div>
    
    <h3>Join Rust Foundation Executive Director Bec Rumbul and colleagues in an Ask-Me-Anything (AMA) interactive webinar focusing on our <a href="/grants/">Community Grants Program</a>. Moderated by Sage Griffin.</h3>
    
    <div class="cta-gradient button"><a href="https://us06web.zoom.us/j/86938717294">Here's the link to join.</a></div>
    
</section>

<section class="container" id="special-content">
    <h1>What is the Rust Foundation?</h1>

    <div class="video-holder">
        <div id="video-container">
            <iframe src="https://www.youtube.com/embed/AI4lPN0BqGc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <h3>Working alongside Rust project leadership to support the maintainers that govern and develop the language.</h3>
</section>

<section class="container" id="news">
    {% set maxNews = collections.news.length | min(3) %}
    <h1>News</h1>

    {% set newslist = collections.news | head(-3) %}
    {% set newslistCounter = collections.news | length + 1 %}
    {% include "newslist.njk" %}

    <p>More news can be found in <a href="{{ '/news/' | url }}">the newsroom</a>.</p>
</section>

<section class="container" id="events">
    {% set maxEvents = collections.events.length | min(3) %}
    <h1>Events</h1>

    {% set eventslist = collections.events | head(-3) %}
    {% set eventslistCounter = collections.events | length + 1 %}
    {% include "eventslist.njk" %}

    <p>More events can be found in <a href="{{ '/events/' | url }}">the archive</a>.</p>
</section>

<section class="container" id="members">
    {% set memberslist = collections.members %}
    {% include "memberslist-small.njk" %}
</section>
