---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section class="container" id="mission">
    <h1>Good software is built by happy, well-supported people</h1>
    <h2>The Rust Foundation is an independent non-profit organization to steward the <a href="https://www.rust-lang.org">Rust programming language</a> and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.</h2>
    <div class="cta-gradient button"><a href="/info/become-a-member">Become a Member</a></div>
</section>

<section class="container" id="special-content">
    <h1>Get to know the Rust Foundation</h1>
    <p>
    <i>Each quarter, Rust Foundation staff members and leaders within the Rust Project gather for a virtual forum</i> 
    <i>– open to anyone in the Rust community.</i>
    <i>These "Ask Me Anything" events are a great way to get to know us!</i>
    </p>
    <div class="video-holder">
        <div id="video-container">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL2b0df3jKKiQvBz32-Sj1fiUQDGxGphyy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <h3><a href="https://foundation.rust-lang.org/tags/ama/">>> Click here to learn more about past and upcoming Rust Foundation "Ask Me Anything" events</a></h3>
</section>

<section class="container" id="news">
    {% set maxNews = collections.news.length | min(3) %}
    <h1>News</h1>

    {% set newslist = collections.news | head(-3) %}
    {% set newslistCounter = collections.news | length + 1 %}
    {% include "newslist.njk" %}

    <p>More news can be found in <a href="{{ '/news/' | url }}">the newsroom</a>.</p>
</section>

<section class="container" id="events">
    {% set maxEvents = collections.events.length | min(3) %}
    <h1>Events</h1>

    {% set eventslist = collections.events | head(-3) %}
    {% set eventslistCounter = collections.events | length + 1 %}
    {% include "eventslist.njk" %}

    <p>More events can be found in <a href="{{ '/events/' | url }}">the archive</a>.</p>
</section>

<section class="container" id="members">
    {% set memberslist = collections.members %}
    {% include "memberslist-small.njk" %}
</section>
