---
layout: layouts/base.njk
permalink: /meetings/
eleventyNavigation:
  key: Meetings
  order: 2
---
<section class="container meetings">
    <h1>Meetings</h1>

    {% set meetingslist = collections.meetings %}
    {% include "meetingslist.njk" %}
</section>
