---
layout: layouts/base.njk
permalink: /members/
eleventyNavigation:
  key: Membership
  order: 4
---
<section class="container members">
    <h1>Membership</h1>
    
<div class="cta-box">
  <h3>Would you like to join us?</h3>
    <div class="cta-white button">
      <a href="/info/become-a-member">Become a Member</a>
    </div>
</div>
    
    {% set memberslist = collections.members %}
    {% include "memberslist.njk" %}
</section>
<p>
<p>
<p><center><h3>The Rust Foundation also offers an Associate Membership tier for nonprofits and educational institutions. More information can be found <a href="/info/become-a-member">here</h3></a>.</p></center>
<hr>
<br>
<br>
<center><i>The Rust Foundation is proud to be an Associate Member of the <a href="url">Open Software Security Foundation (OpenSSF).</i><center>
<br>
<a href="https://openssf.org/"><img src="https://github.com/rustfoundation/foundation.rust-lang.org/assets/45044840/998e1688-98a9-495d-be7c-2c9133c86484" alt="OpenSSF logo"></a>