---
layout: layouts/base.njk
permalink: /members/
eleventyNavigation:
  key: Members
  order: 3
---
<section class="container members">
    <h1>Members</h1>
    
<div class="cta-box">
  <h3>Would you like to join us?</h3>
    <div class="cta-white button">
      <a href="https://foundation.rust-lang.org/info/become-a-member">Become a Member</a>
    </div>
</div>
    
    {% set memberslist = collections.members %}
    {% include "memberslist.njk" %}
</section>
