---
layout: layouts/base.njk
---
<section class="container" style="margin-bottom: 0;">
    <h1>Rust Foundation Membership FAQs</h1>
</section>

<section class="container" style="margin-top: 0;">

<style>
.details {
  text-align: left;
  margin: 10px;
  }

.details p {
  margin-bottom: 1em;
  line-height: normal;
}
    </style>

  <div class="questions">
  <h2>Who can become a Rust Foundation member?</h2>
  <h3>Any association, partnership, organization, governmental agency, company, corporation, academic entity, or non-profit entity interested in supporting the mission of the Rust Foundation will be admitted as a member after submitting a written application and paying membership dues/fees. Members must be, and remain, in good standing.
</h3>

<br>
<div class="questions">
  <h2>Can the Rust Foundation refuse eligible membership applications?</h2>
  <h3>As a 501(c)(6) organization registered in Delaware, the Rust Foundation must treat all eligible members equally and without discrimination. This practice allows us to uphold legal and ethical standards and remain in compliance with the Internal Revenue Service. Turning away eligible members could hinder the growth and credibility of the Rust Foundation, and potentially cause legal issues that would impede our ability to support the Rust Community. </h3>
  
<br>
<div class="questions">
  <h2>What is a Rust Foundation Member?</h2>
  <h3>The Rust Foundation is able to support the Rust Project and Rust programming language ecosystem in large part thanks to our members. 
<br>
Rust Foundation Members are business entities that support the collective interests and goals of the Rust Foundation. Rust Foundation Members demonstrate a concrete commitment to the future success of the Rust language by providing a substantial financial contribution to its maintenance and development.
<br>
Our members pay annual dues to support the Foundation’s work and mission and are active participants on our board of directors. We have three tiers of corporate membership: Platinum, Gold, and Silver (in descending order of investment).</h3>
<br>
<br>
<div class="questions">
  <h2>What are the benefits of Rust Foundation membership?</h2>
  <h3>Platinum, Gold, and Silver Members benefit from their role in the Rust Foundation in a variety of ways. Across all tiers tier, our members benefit from the promotion of their relevant news and activities by the Rust Foundation. By joining the Rust Foundation, our members become closely and publicly aligned with the mission of the Rust Foundation. 
<br>
One of the most prominent benefits of Rust Foundation membership is board representation. 
<br>
Platinum Members nominate and elect one dedicated representative to serve as a voting member of the Rust Foundation Board of Directors. As a member of the board, each Platinum Member Director must vote on all motions related to the mission, business, and affairs of the Rust Foundation. 
<br>
Gold Members have the right to vote, together with the other Gold Members as a class, to elect representative Member Directors. There will be one Gold Member Director if there are between four and seven total Gold Members at the Rust Foundation, and two Gold Member Directors if there are eight or more total Gold Members at the Rust Foundation.
<br>
Silver Members also have the right to elect a representative Silver Member Director when there are 10 or more total Silver Members at the Rust Foundation. 
<br>
Member Director terms last for two years. 
<br>
To receive benefits and remain a Rust Foundation Member, our members must remain in good standing. Please refer to our <a href="https://foundation.rust-lang.org/policies/bylaws/">bylaws</a> to learn more. </h3>
<br>
<br>
<div class="questions">
  <h2>Where can I see the Rust Foundation’s member base and learn more about becoming a member?</h2>
  <h3>All current Rust Foundation members and details about pursing membership can be found here.</h3>
<br>
<br>
<div class="questions">
  <h2>Where can I learn more about Rust Foundation membership policies?</h2>
  <h3>Please refer to the Rust Foundation’s <a href="https://foundation.rust-lang.org/policies/bylaws/">bylaws</a> for our complete membership policy.</h3>
<br>
<br>
  

</section>