---
layout: layouts/base.njk
permalink: /news/
eleventyNavigation:
  key: News
  order: 3
---
<section class="container news">
    <h1>News</h1>

    {% set newslist = collections.news %}
    {% include "newslist.njk" %}
</section>

<section class="container posts">
    <h1>Blog</h1>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</section>
