---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: News
  order: 3
---
<section class="container posts">
    <h1>Blog</h1>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</section>
