---
layout: layouts/base.njk
permalink: /resources/
eleventyNavigation:
  key: Resources
  order: 3
---
<section class="container">
    <h1>Resources, Publications, & Public Filings</h1>

<section class="container">
    <h2>Annual Reports</h2>
    <div>In 2022, we produced our first annual report, which details our metrics, milestones, and key details from 2022. We intend to produce this report each year to detail the Rust Foundation's growth and progress.</div>
    <ul>
    <h3><a href="https://foundation.rust-lang.org/static/publications/annual-reports/annual-report-2022.pdf">>> 2022 Annual Report</a>
    </h3></ul>
</section>

<section class="container">
    <h2>Membership Deck</h2>
    <div>The Rust Foundation Membership Deck provides key details about what it means to invest in the Rust programming language community through our organization as a Corporate Member. You can also find this deck along with more information about Rust Foundation membership on our <a href="https://foundation.rust-lang.org/members/">Membership page</a> </div>
    <ul>
    <h3><a href="https://foundation.rust-lang.org/static/2023-rf-membership-overview-deck.pdf">>> Rust Foundation Membership Deck</a>
    </h3></ul>
</section>

<section class="container">
    <h2>Financial filings</h2>
    <div>The Foundation's financial information will be published here after it has been approved and filed with the relevant authorities.</div>
    <ul>
        <li><a href="/static/publications/financial-filings/form-990-2021.pdf">Form 990 (2021)</a></li>
    </ul>
</section>

<section class="container">
    <h2>Board meeting minutes</h2>
    <div>Minutes of the meetings of the Foundation Board of Directors will be published here. The Board usually meets on the second Tuesday of each month.</div>
    <ul>
        <li><a href="/static/minutes/2023-02-14-minutes.pdf">February 2023 Board Meeting</a></li>
        <li><a href="/static/minutes/2023-01-10-minutes.pdf">January 2023 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-12-13-minutes.pdf">December 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-11-08-minutes.pdf">November 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-10-11-minutes.pdf">October 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-09-13-minutes.pdf">September 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-08-09-minutes.pdf">August 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-07-12-minutes.pdf">July 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-06-14-minutes.pdf">June 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-05-10-minutes.pdf">May 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-04-12-minutes.pdf">April 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-03-08-minutes.pdf">March 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-02-08-minutes.pdf">February 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2022-01-11-minutes.pdf">January 2022 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-12-14-minutes.pdf">December 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-11-09-minutes.pdf">November 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-10-12-minutes.pdf">October 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-09-21-minutes.pdf">September 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-08-10-minutes.pdf">August 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-07-13-minutes.pdf">July 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-06-08-minutes.pdf">June 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-05-11-minutes.pdf">May 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-03-09-minutes.pdf">March 2021 Board Meeting</a></li>
        <li><a href="/static/minutes/2021-02-09-minutes.pdf">February 2021 Board Meeting</a></li>
    </ul>
</section></section>