---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - events
    - event
    - meetings
    - meeting
    - news
    - people
    - policies
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<section class="container">
    <h1>Tagged “{{ tag }}”</h1>

    {% set postslist = collections[ tag ] %}
    {% include "newslist.njk" %}

    <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</section>
