<footer>
    <div class="container">
      <img src="/img/rf-logo-transparent.png" alt="rust foundation logo"/>
      <div>
      {% for policy in collections.policies %}
        <a href="/policies/{{ policy.data.title | lower | replace(" ", "-") }}">{{ policy.data.title }}</a>
        {% if collections.policies.indexOf(policy) < collections.policies.length - 1 %}
         |
        {% endif %}
      {% endfor %}
      </div>
    </div>
</footer>
