<footer>
    <div class="container">
      <img src="/img/rf-logo-transparent.png" alt="rust foundation logo"/>
      <div>
        <a href="https://x.com/rust_foundation"><img class="social_icon" src="/img/social/X.png" alt="X Formely Twitter icon"/></a>
        <a href="https://www.linkedin.com/company/rust-foundation/"><img class="social_icon" src="/img/social/linkedin.png" alt="LinkedIn icon" /></a>
      </div>
      <div>
      {% for policy in collections.policies %}
        <a href="/policies/{{ policy.data.title | lower | replace(" ", "-") }}">{{ policy.data.title }}</a>
        {% if collections.policies.indexOf(policy) < collections.policies.length - 1 %}
         |
        {% endif %}
      {% endfor %}
      </div>
    </div>
</footer>
