{% for grant in grantslist %}
<section>
    <div class="grant">
    	<h2>{{ grant.data.name }}</h2>
    	<p>{{ grant.data.description }}</p>
        <p><a href="{{ grants.url }}">Find out more.</a></p>
    </div>
</section>
{% endfor %}
