<ul>
{% for grant in grantslist %}
  <li>
    <div class="grant">
    	<h2>{{ name }}</h2>
    	<p>{{ description }}</p>
        <p><a href="{{ grant.url }}">Find out more.</a></p>
    </div>
  </li>
{% endfor %}
</ul>
