<h2>Platinum</h2>
<ul class="memberslist">
    {% for member in memberslist %}
        {% if member.data.level == "platinum" and member.data.status != "suspended" %}
            {% if member.data.founder == "yes" %}
                <li class="platinummember">
                    {% if member.data.logo %}
                        <img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/>
                        <a href="{{ member.data.url }}" rel="nofollow"><div style="background-image: url('/img/founding-member.png'" alt="Founding Member" class="founding"></div></a>
                    {% endif %}
                </li>
           {% else %}
                <li class="platinummember">
                    {% if member.data.logo %}
                        <a href="{{ member.data.url }}" rel="nofollow"><img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/></a>
                    {% endif %}
                </li>
           {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<h2>Gold</h2>
<ul class="memberslist">
    {% for member in memberslist %}
        {% if member.data.level == "gold" and member.data.status != "suspended" %}
            <li class="goldmember">
                {% if member.data.logo %}
                     <a href="{{ member.data.url }}" rel="nofollow"><img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/></a>
                     {% if member.data.founder == "yes" %}
                          <a href="{{ member.data.url }}" rel="nofollow">
                              <div style="background-image: url('/img/founding-member.png'" alt="Founding Member" class="founding">
                              </div>
                          </a>
                     {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
<h2>Silver</h2>
<ul class="memberslist">
    {% for member in memberslist %}
        {% if member.data.level == "silver" and member.data.status != "suspended" %}
            {% if member.data.founder == "yes" %}
                <li class="silvermember">
                    {% if member.data.logo %}
                        <img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/>
                        <a href="{{ member.data.url }}" rel="nofollow"><div style="background-image: url('/img/founding-member.png'" alt="Founding Member" class="founding"></div></a>
                    {% endif %}
                </li>
           {% else %}
                <li class="silvermember">
                    {% if member.data.logo %}
                        <a href="{{ member.data.url }}" rel="nofollow"><img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/></a>
                    {% endif %}
                </li>
           {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<h2>Donors</h2>
Membership is just one of the ways you can support the Rust Foundation. We are grateful to our non-member 
corporate donors, whose generosity ensures we are able to provide even more support to the Rust Project 
and Community. If your business would like to become a non-member donor, please <a href="/contact/">get in touch with us</a>.
<ul class="memberslist">
    {% for member in memberslist %}
        {% if member.data.level == "donor" %}
            <li class="donor">
                {% if member.data.logo %}
                     <a href="{{ member.data.url }}" rel="nofollow"><img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/></a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
