<ul class="memberslist memberslist-small">
{% for member in memberslist  %}
    {% if member.data.level ==  "platinum" and member.data.status != "suspended" %}
    <li>
        <div class="member">
        {% if member.data.logo %}
            <a href="{{ member.data.url }}" rel="nofollow"><img src="{{ member.data.logo }}" alt="{{ member.data.name }}"/></a>
        {% endif %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
