<ul class="memberslist memberslist-small">
{% for member in memberslist  %}
    {% if member.data.level == "founding" or member.data.level ==  "platinum" %}
    <li>
        <div class="member">
        {% if member.data.logo %}
            <a href="{{member.data.url}}"><img src="/img/member/{{ member.data.logo }}" alt="{{member.data.name}}"/></a>
        {% endif %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
