<ul class="memberslist memberslist-small">
{% for member in memberslist  %}
    {% if member.data.level == "founding" %}
    <li>
        <div class="member">
        {% if member.data.logo %}
            <img src="/img/member/{{ member.data.logo }}" alt="{{member.data.name}}"/>
        {% endif %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
