<meta name="title" content="Rust Foundation">
<meta name="description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://foundation.rust-lang.org">
<meta property="og:title" content="Rust Foundation">
<meta property="og:description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">
<meta property="og:image" content="http://foundation.rust-lang.org/img/thumbnail.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://foundation.rust-lang.org/">
<meta property="twitter:title" content="Rust Foundation">
<meta property="twitter:description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">
<meta property="twitter:image" content="http://foundation.rust-lang.org/img/thumbnail.png">
