<ul class="peoplelist">
{% for person in peoplelist | reverse %}
  {% if person.data.showfirst  %}
    <li {% if person.data.headshot %}style="background-image: url('{{ person.data.headshot }}')" {% endif %}>
      <div style="background-image: url('{% if person.data.ferris %}{{ person.data.ferris }}{% else %} /img/ferris/default.png {% endif %}')" alt="a drawing of ferris" class="ferris"></div>
      <div class="person">
        <h2>{{ person.data.name }}</h2>
        <h3>{{ person.data.title }}</h3>
      </div>
    </li>
  {% endif %}
{% endfor %}
{% for person in peoplelist | reverse %}
  {% if person.data.showsecond  %}
    <li {% if person.data.headshot %}style="background-image: url('{{ person.data.headshot }}')" {% endif %}>
      <div style="background-image: url('{% if person.data.ferris %}{{ person.data.ferris }}{% else %} /img/ferris/default.png {% endif %}')" alt="a drawing of ferris" class="ferris"></div>
      <div class="person">
        <h2>{{ person.data.name }}</h2>
        <h3>{{ person.data.title }}</h3>
      </div>
    </li>
  {% endif %}
{% endfor %}
{% for person in peoplelist | reverse %}
  {% if not person.data.showfirst and not person.data.showsecond %}
    <li {% if person.data.headshot %}style="background-image: url('{{ person.data.headshot }}')" {% endif %}>
      <div style="background-image: url('{% if person.data.ferris %}{{ person.data.ferris }}{% else %} /img/ferris/default.png {% endif %}')" alt="a drawing of ferris" class="ferris"></div>
      <div class="person">
        <h2>{{ person.data.name }}</h2>
        <h3>{{ person.data.title }}</h3>
      </div>
    </li>
  {% endif %}
{% endfor %}
</ul>
