---
layout: layouts/base.njk
title: Become a Member
templateClass: tmpl-info
---
<section class="container become">
    <h1>Become a Member</h1>
    
    <p>The Rust Foundation is a 501(c)6 non-profit organization incorporated in Delaware, USA. We have 3 tiers of corporate membership: Platinum, Gold, and Silver. We also offer an Associate Membership tier for non-profit organizations. We do not currently provide memberships for individuals.</p>
    
    <p>Membership benefits include representation on the Board of Directors. Check out our overview deck to learn more.</p>
    
    <div class="cta-gradient button"><a href="/static/membership-overview-deck.pdf">Membership Overview Deck</a></div>
    
    <h2>Membership Fee Information</h2>

    <table>
        <tr>
            <th>Tier</th>
            <th>Annual Fee</th>
        </tr>
        <tr id="member-platinum">
            <td>Platinum</td><td>300,000 USD</td>
        </tr>
        <tr id="member-gold">
            <td>Gold</td><td>150,000 USD</td>
        </tr>
        <tr id="member-silver">
            <td>Silver</td><td>See sliding scale</td>
        </tr>
        <tr id="member-associate">
           <td>Associate</td><td>Free for nonprofits & educational institutions (subject to board approval)</td>
    </table>
    <table id="silver-scale">
        <tr>
            <th>Full Time Employees</th>
            <th>Annual Fee</th>
        </tr>
        <tr>
            <td>3000+</td><td>85,000 USD</td>
        </tr>
        <tr>
            <td>1000-2999</td><td>55,000 USD</td>
        </tr>
        <tr>
            <td>500-999</td><td>30,000 USD</td>
        </tr>
        <tr>
            <td>100-499</td><td>15,000 USD</td>
        </tr>
        <tr>
            <td>0-99</td><td>5,000 USD</td>
        </tr>
    </table>

    <div class="cta-box">
        <h3>Ready to apply?</h3>
        <div class="cta-gradient button"><a href="mailto:membership@rustfoundation.org">Send us an email</a></div>
        <p style="max-width: none;">Please tell us about your organization and why you're interested in membership.</p>
        <p style="max-width: none;">You can also <a href="/static/membership-agreement-v1.6.pdf">download a sample copy</a> of our Membership Agreement terms.</p>
    </div>
</section>
