---
layout: layouts/base.njk
title: Contact
templateClass: tmpl-info
eleventyNavigation:
  key: Contact
  order: 8
---
<section class="container contact">
    <h1>Contact</h1>
    <p>For all inquiries, please email <a href="mailto:contact@rustfoundation.org">contact@rustfoundation.org</a>.</p>
    <a href="https://twitter.com/rust_foundation"><img class="social_icon" src="/img/social/twitter-blue.png" alt="Twitter icon"/></a>
    <a href="https://www.linkedin.com/company/rust-foundation/"><img class="social_icon" src="/img/social/linkedin-blue.png" alt="LinkedIn icon" /></a>
</section>
