---
layout: layouts/base.njk
title: Contact
templateClass: tmpl-info
eleventyNavigation:
  key: Contact
  order: 4
---
<section class="container contact">
    <h1>Contact</h1>
    <p>For all inquiries, please email foundation@rust-lang.org.</p>
</section>
