---
layout: layouts/base.njk
title: Contact
templateClass: tmpl-info
eleventyNavigation:
  key: Contact
  order: 6
---
<section class="container contact">
    <h1>Contact</h1>
    
    <div class="section">
    <h2>We don't make the game Rust</h2>
    <p>Click or tap the logo for support with the game</p>
    <a href="https://rust.facepunch.com/support"><img src="/img/rust-the-game.svg"></a>
    </div>
    
    <div class="section">
    <h2>Contact us about the Rust programming language</h2>
    <p>Please email <a href="mailto:contact@rustfoundation.org">contact@rustfoundation.org</a>.</p>
    <p>We'll get back to you within a couple of days.</p>
    </div>
    <p>Follow us on Twitter or LinkedIn:</p>
    <a href="https://twitter.com/rust_foundation"><img class="social_icon" src="/img/social/twitter-blue.png" alt="Twitter icon"/></a>
    <a href="https://www.linkedin.com/company/rust-foundation/"><img class="social_icon" src="/img/social/linkedin-blue.png" alt="LinkedIn icon" /></a>
    <p>We're a small team and not always able to keep up with comments and DMs on social media: if you need a response, we'd ask you to use our email address above.</p>
</section>
