---
layout: layouts/base.njk
title: 成为基金会会员
templateClass: tmpl-info
---
<section class="container become">
    <h1>成为基金会会员</h1>
    <p>Rust 基金会是注册于美国特拉华州的 501(c)6 非盈利组织。参与这个组织的主要方式是成为基金会会员。</p>
    <div class="cta-box">
        <h3>太长了，不想读？</h3>
        <div class="cta-gradient button"><a href="https://calendly.com/ag_dubs/30min">预约一次介绍</a></div>
        <div class="cta-white button"><a href="mailto:foundation@rust-lang.org">发邮件给我们</a></div>
    </div>
    <h2>等级和权益</h2>
    <p>Rust基金会当前有4个会员等级：白金、金牌、银牌和伙伴。</p>
    <p>会员的最主要权益是董事会席位：</p>
    <ul>
        <li>白金：每个会员1个席位</li>
        <li>金牌：每4个会员1个席位，最多2位</li>
        <li>银牌：每10个会员1个席位，最多1位</li>
        <li>伙伴：没有席位</li>
    </ul>
    <p>想要了解更多关于基金会、会员等级和权益等信息，请参见我们的<a href="/static/rust-foundation-overview.pdf">概述文件</a>。</p>
    <p>如果希望向我们直接了解关于会员的信息，您可以<a href="https://calendly.com/ag_dubs/30min">预约一次介绍</a>或发送邮件至 <a href="mailto:foundation@rust-lang.org">foundation@rust-lang.org</a>.</p>

    <h2>会员费定价</h2>
    <p>Rust 是一个庞大而有抱负的项目，有200多位贡献者在项目中承担领导角色，还有更多的普通贡献者。我们的定价反应了项目的规模、维护量以及团队的经验质量。</p>

    <p>尽管如此，我们认为对于这份价格，反映出我们在可及性方面的深刻价值观非常重要。许多公司都在使用 Rust 语言，不论身处何方、规模大小。所以会员费的定价不仅要胸怀远大，还要让所有公司都有机会参与，就像 Rust 项目本身一样。</p>

    <p>如果您对我们的价格有任何疑问或者反馈，请联系 <a href="mailto:foundation@rust-lang.org">foundation@rust-lang.org</a>.</p>
    <table>
        <tr>
            <th>等级</th>
            <th>价格</th>
        </tr>
        <tr id="member-platinum">
            <td>白金</td><td>300,000 美元</td>
        </tr>
        <tr id="member-gold">
            <td>金牌</td><td>150,000 美元</td>
        </tr>
        <tr id="member-silver">
            <td>银牌</td><td>见表格</td>
        </tr>
        <tr id="member-associate">
            <td>伙伴</td><td>免费；需董事会批准</td>
        </tr>
    </table>
    <table id="silver-scale">
        <tr>
            <th>全职雇员数</th>
            <th>价格</th>
        </tr>
        <tr>
            <td>3000+</td><td>85,000 美元</td>
        </tr>
        <tr>
            <td>1000-2999</td><td>55,000 美元</td>
        </tr>
        <tr>
            <td>500-999</td><td>30,000 美元</td>
        </tr>
        <tr>
            <td>100-499</td><td>15,000美元</td>
        </tr>
        <tr>
            <td>0-99</td><td>5,000 美元</td>
        </tr>
    </table>
    <h2>折扣</h2>
    <p>尽管 Rust 基金会的成立是为了帮助 Rust 项目筹款，但我们认为，在许多情况下，会员公司可以提供超出向组织捐款以外的价值。我们的折扣旨在激励会员公司以这些方式投入。</p>
    <p></p>
    <table id="discounts">
        <tr>
            <th>类型</th>
            <th>折扣</th>
        </tr>
        <tr id="discount-team">
            <td>项目成员</td><td>每全职雇佣1位项目官方成员折扣 15%</td>
        </tr>
        <tr id="discount-infra">
            <td>基础设施</td><td>每10万美元价值的实物或服务折扣 15%</td>
        </tr>
        <tr id="discount-commit">
            <td>连续捐赠承诺</td><td>>2年时，每多1年折扣 5%</td>
        </tr>
    </table>
    <p>
        对于所有等级的会员，折扣的上限均为 45%. 折扣需要基金会工作人员审核，且“项目成员”和“基础设施”相关内容还要在会员协议付件中呈现。
    </p>
    <div class="cta-box">
        <h3>准备好申请了吗？</h3>
        <div class="cta-white button"><a href="https://calendly.com/ag_dubs/30min">预约一次介绍</a></div>
        <div class="cta-gradient button"><a href="/static/membership-agreement-v1.3.pdf">填写会员协议</a></div>
    </div>
</section>
