---
layout: layouts/base.njk
title: 联系我们
templateClass: tmpl-info
eleventyNavigation:
  key: Contact
  order: 4
---
<section class="container contact">
    <h1>联系我们</h1>
    <p>对于所有的疑问，请发送邮件至 foundation@rust-lang.org.</p>
</section>
