<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Foundation - {{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    {% include "metatags.njk" %}
    <script defer data-domain="foundation.rust-lang.org" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <header>
        {% include "nav.njk" %}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
