---
layout: layouts/base.njk
templateClass: tmpl-event
---
<section class="container event">
    <h1>{{ title }}</h1>
    <h2>{{ description }}</h2>
    <div class="content">
        {{ content | safe }}
    </div>
  <div class="event-tags">
    Tagged:
    {% for tag in tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </div>
    <h2 class="date">{{ date }}</h2>

    <hr>
    <ul>
        {%- set nextEvent = collections.events | getNextCollectionItem(page) %}
        {%- if nextEvent %}<li>Next: <a href="{{ nextEvent.url | url }}">{{ nextEvent.data.title }}</a></li>{% endif %}
        {%- set previousEvent = collections.events | getPreviousCollectionItem(page) %}
        {%- if previousEvent %}<li>Previous: <a href="{{ previousEvent.url | url }}">{{ previousEvent.data.title }}</a></li>{% endif %}
    </ul>
</section>
