---
layout: layouts/base.njk
templateClass: tmpl-info
---
<div class="container">
  <h1>{{ title }}</h1>
  <article>
    <div class="cta-white button"><a href="{{ application-link }}">Apply</a></div>
    {{ content | safe }}
  </article>
</div>
