---
layout: layouts/base.njk
templateClass: tmpl-info
---
<div class="container">
  <h1>{{ title }}</h1>
  <article>
   {% if applicationLink|length %}
      <div class="cta-white button"><a href="{{ applicationLink }}">Apply</a></div>
    {% else %}
      <div class="cta-white button"><a href="{{ applicationLink1 }}">{{ applicationLink1desc }}</a></div>
      <div class="cta-white button"><a href="{{ applicationLink2 }}">{{ applicationLink2desc }}</a></div>
      <div class="cta-white button"><a href="{{ applicationLink3 }}">{{ applicationLink3desc }}</a></div>
    {% endif %}
    {{ content | safe }}
  </article>
</div>
