<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Foundation - {{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
<meta name="title" content="Rust Foundation">
<meta name="description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://foundation.rust-lang.org">
<meta property="og:title" content="Rust Foundation">
<meta property="og:description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://foundation.rust-lang.org/">
<meta property="twitter:title" content="Rust Foundation">
<meta property="twitter:description" content="The Rust Foundation is an independent non-profit organization to steward the Rust programming language and ecosystem, with a unique focus on supporting the set of maintainers that govern and develop the project.">
<meta property="twitter:image" content="http://foundation.rust-lang.org/img/thumbnail.png">
  </head>
  <body>
    <header>
        <ul class="nav">
            <li class="nav-item home"><a href="{{ '/' | url }}"><img alt="rust logo" src="/img/rf-logo-transparent.png"/></a></li>
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
            {%- endfor %}
        </ul>
        <section id="splash">
            <div class="container">
                <h1>Rust Foundation</h1>
                <h2>A new approach to sustaining and growing a large, participatory, open source ecosystem<h2>
            </div>
        </section>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
    </main>

    <footer>
        <div class="container">
            <img src="/img/rf-logo-transparent.png" alt="rust foundation logo"/>
        </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
