---
layout: layouts/base.njk
templateClass: tmpl-news
---
{%- if externalurl == undefined -%}
  <section class="container post">
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
      <time class="post-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <div class="content">
          {{ content | safe }}
      </div>
      <div class="attachments">
          {%- if attachments != undefined -%}
              Artifacts:
              <ul>
              {% for name, aUrl in attachments %}
                  <li><a href="{{ aUrl | url }}">{{ name | safe }}</a></li>
              {% endfor %}
              </ul>

              Please note that any policies or documents approved here may not be
              the latest versions approved by the Board.
          {%- endif -%}
      </div>
    <div class="post-tags">
      Tagged:
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </div>

      <hr>
      <ul>
          {%- set nextNews = collections.news | getNextCollectionItem(page) %}
          {%- if nextNews %}<li>Next: <a href="{% if (nextNews.data.externalurl != undefined) %}{{ nextNews.data.externalurl | url }}{% else %}{{ nextNews.url | url }}{% endif %}">{{ nextNews.data.title }}</a></li>{% endif %}
          {%- set previousNews = collections.news | getPreviousCollectionItem(page) %}
          {%- if previousNews %}<li>Previous: <a href="{% if (previousNews.data.externalurl != undefined) %}{{ previousNews.data.externalurl | url }}{% else %}{{ previousNews.url | url }}{% endif %}">{{ previousNews.data.title }}</a></li>{% endif %}
      </ul>
  </section>
{%- endif -%}