---
layout: layouts/base.njk
templateClass: tmpl-info
---
<div class="container policy">
  <h1>{{ title }}</h1>
  <aside>
    {{ content | toc | safe }}
  </aside>
  <article>
    {{ content | safe }}
  </article>
</div>
