<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
</head>
<body>
	A redirect to <a href="{{ redirect.to }}">{{ redirect.to }}</a>
</body>
</html>
